{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(seasonForm) }}
    {{ form_widget(seasonForm) }}
    <button type="submit">Create season</button>
    {{ form_end(seasonForm) }}
{% endblock %}

{% block title %}

{% endblock %}

